<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel='stylesheet' href='./css/style.css'>
    {{!-- <link rel='stylesheet' href='./css/jass.css'> --}}
</head>
<body>
    <nav>
        <ul style='width:50%; display:flex; flex-direction: row;'>
            <li><a>Home</a></li>
            <li><a>Home</a></li>
            <li><a>Home</a></li>
            <li><a>Home</a></li>
        </ul>
        <h1>The Tech Blog</h1>
    </nav>
    <main>
        {{{ body }}}
    </main>
</body>
</html>