<div class="box" style="width:100%">
  <div class="columns" style="padding:5%; padding-left:25%; padding-right:25%">
    <div class="column">
      <h2>Login</h2>
      <form class="box login-form">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email"  id="email-login" placeholder="e.g. alex@example.com">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" id="password-login" placeholder="********">
          </div>
        </div>
        <button class="button is-warning">Login</button>
      </form>
    </div>
    {{!-- <div class="column">
     <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" id="email-login"placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Login
        </button>
      </p>
    </div>
    </div> --}}
  </div>  
  </div>
</div>
<script src="./js/login.js"></script>